body{
    background: yellowgreen;
    margin: 0;
    font-family: 'Lucida Sans';
}

form{
    width: 300px;
    margin: 10vh auto 0 auto;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px;
}
h1{
    text-align: center;
}

#form button{
    background-color: #792099;
    color: white;
    border: 1px solid #792099;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px 15px;
    border: 1px solid gray;
}

.input-group input:focus{
    outline: 0;
}

.input-group .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color: red;
}